The package requirements for this Python program are:

- requests
- beautifulsoup4
- nltk
- sklearn
- matplotlib
- pandas
- regex
- googletrans
- tweepy

You can install these packages using pip by running the following command:
```
pip install requests beautifulsoup4 nltk sklearn matplotlib pandas regex googletrans tweepy
```